body {
    width: 1511px;
    height: 1716px;
    padding-top: 82px;
    padding-left: 81px;
    padding-right: 72px;
    margin: 0;
    background-color: #EAEDF1;
}

.header {
    height: 3000px;
}

.profile {
    width: 435px;
    height: 490px;
}

.main {
    padding-top: 34px;
    padding-left: 25px;
    padding-right: 20px;
    width: 389px;
    height: 183px;
    background-color: #FFFFFF;
}

.mainphoto {
    /*background-color: red;
    padding: 0;*/
    float: left;
}

.mainphoto img {
    width: 149px;
    height: 150px;
}

.name {
    float: right;
    text-align: left;
    width: 200px;
    height: 150px;
    padding-top: 48px;
    line-height: 28px;
    vertical-align: middle;
}

.name1 {
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
}

.name2 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #586879;
}

.signs {
    display: inline-block;
}

.sign {
    width: 109px;
    height: 79px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Lato', sans-serif;;
    font-size: 14px;
}

.eye {
    background-color: #16C4EC;
}

.flag {
    background-color: #FA5351;
}

.car {
    background-color: #10CDC1;
}

.smoke {
    background-color: #33495F;
}