body {
    width: 1351px;
    height: 1552px;
    padding: 82px 80px 82px 80px;
    margin: 0;
    background-color: #EAEDF1;
}



/*--------------------------------------------*/
/*-------------------HEADER-------------------*/

.header {
    width: 100%;
    display: inline-block;
}

.profile {
    width: 435px;
    height: 296px;
    box-sizing: border-box;
    float: left;
    margin-right: 88px;
    border-radius: 2px 2px 0 0;
    /*box-shadow: inset 0px 0px 1px #92959F;*/
}

.main {
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 27px;
    padding-right: 20px;
    height: 216px;
    background-color: #FFFFFF;
    border-radius: 2px 2px 0 0;
    /*box-shadow: inset 0px 0px 1px #92959F;*/
}

.mainphoto {
    float: left;
}

.mainphoto img {
    width: 146px;
    height: 147px;
}

.name {
    float: right;
    text-align: left;
    width: 200px;
    height: 150px;
    padding-top: 47px;
    line-height: 28px;
    vertical-align: middle;
}

.name1 {
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
}

.name2 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #586879;
}

.signs {
    display: inline-block;
    height: 80px;
    box-sizing: border-box;
}

.sign {
    margin-top: -16px;
    height: 80px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    vertical-align: top;
    box-sizing: border-box;
}

.sign img {
    margin-top: 16px;
}

.sign p {
    margin-top: 0;
}

.eye {
    background-color: #16C4EC;
    width: 109px;
    border-radius: 2px 0 0 2px;
}

.flag {
    background-color: #FA5351;
    width: 109px;
    margin-left: -4px;
    border-radius: 1px;
}

.car {
    background-color: #10CDC1;
    width: 108px;
    margin-left: -4px;
    border-radius: 2px 0 0 2px;
}

.smoke {
    background-color: #33495F;
    width: 109px;
    margin-left: -4px;
    border-radius: 0 2px 2px 0;
}

.info {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 825px;
    height: 295px;
    display: inline-block;
    border-radius: 3px;
    /*box-shadow: inset 0px 0px 1px #92959F;
    -webkit-box-shadow: inset 0px 0px 1px #92959F;
    -moz-box-shadow: inset 0px 0px 1px #92959F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;*/
}

.web {
    width: 470px;
    height: 295px;
    float: left;
}

.description {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30x;
    padding-top: 43px;
    width: 470px;
    height: 219px;
}

.description1 {
    border-radius: 4px;
    font-size: 38px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
    margin: 0 0 -8px 0;
    padding-left: -3px;
    letter-spacing: 0.0066em;
}

.description2 {
    width: 403px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #33495F;
    line-height: 30px;
    margin: 0 0 0 3px;
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
    
}

.description3 {
    width: 401px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #33495F;
    line-height: 30px;
    margin: 0 0 0 3px;
    letter-spacing: 0.01cm;
}

.bold {
    font-weight: bold;
}

.blue {
    color: #16C4EC;
}

.social {
    height: 76px;
    display: inline-block;
}

.twitter {
    box-sizing: border-box;
    width: 80px;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    float: left;
}

.ball {
    box-sizing: border-box;
    width: 64px;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.be {
    box-sizing: border-box;
    width: 90px;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.inst {
    box-sizing: border-box;
    width: 60px;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.fruit {
    box-sizing: border-box;
    width: 88px;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.in {
    box-sizing: border-box;
    width: 54px;
    height: 100%;
    padding-top: 27px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.contacts {
    box-sizing: border-box;
    width: 355px;
    height: 100%;
    float: left;
    padding-left: 42px;
    padding-top: 82px;
    padding-right: 38px;
}

.link1 {
    font-size: 23px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
}

.link2 {
    margin-top: -8px;
    margin-left: 2px;
    color: #FA5351;
    font-size: 24px;
    font-family: 'Signika Negative', sans-serif;
    letter-spacing: 0.038cm;
    margin-bottom: 32px;
}

.line {
    margin-left: 2px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #788695;
}

/*-------------------HEADER-------------------*/
/*--------------------------------------------*/



/*--------------------------------------------*/
/*--------------------MAIN--------------------*/

.content {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin-top: 33px;
    height: 1174px;
}

.left-blocks {
    box-sizing: border-box;
    display: inline-block;
    margin-top: -16px;
    width: 635px;
    vertical-align: top;
}

.left-block {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 4px;
} 

.left-block1 {
    position: relative;
    margin-bottom: 32px;
    height: 341px;
}

.left-block2 {
    height: 322px;
    margin-bottom: 33px;
}

.left-block3 {
    height: 170px;
    margin-bottom: 32px;
}

.left-block4 {
    height: 169px;
}

.left-title {
    padding-top: 28px;
    padding-left: 25px;
    margin-bottom: -20px;
}

.left-title1 {
    font-size: 25px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
}

.left-title2 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #9EA7B4;
    letter-spacing: 0.022em;
}

.left-profession {
    padding-left: 23px;
    font-size: 21px;
    font-family: 'Signika Negative', sans-serif;
    color: #04BCA6;
}

.list1 {
    margin-top: 25px;
    padding-left: 16px;
    line-height: 34px;
    letter-spacing: 0.007em;
}

.list1 ul, .list2 ul {
    list-style-image: url("images/Check.png"); /*Почему-то не работает*/
    list-style: none;
}

.list1 ul li, .list2 ul li {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #33495F;
}

.list2 {
    margin-top: -12px;
    padding-left: 16px;
    line-height: 34px;
    letter-spacing: 0.007em;
}

.block1-check1 {
    display: block;
    position: relative;
    top: -144px;
    left: 13px;
}

.block1-check2 {
    display: block;
    position: relative;
    top: -125px;
    left: 13px;
}

.block1-check3 {
    display: block;
    position: relative;
    top: -110px;
    left: 13px;
}

.block1-check4 {
    display: block;
    position: relative;
    top: -92px;
    left: 13px;
}

.block2-check1 {
    display: block;
    position: relative;
    top: -139px;
    left: 13px;
}

.block2-check2 {
    display: block;
    position: relative;
    top: -123px;
    left: 13px;
}

.block2-check3 {
    display: block;
    position: relative;
    top: -107px;
    left: 13px;
}

.block2-check4 {
    display: block;
    position: relative;
    top: -91px;
    left: 13px;
}

.left-bottom1 {
    margin-top: -56px;
    height: 70px;
}

.left-bottom2 {
    margin-top: -59px;
    height: 70px;
}

.left-bottom3 {
    margin-top: -7px;
    height: 70px;
}

.left-bottom4 {
    margin-top: -8px;
    height: 70px;
}

.location1 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 30px;
}

.location2 {
    display: inline-block;
    padding-top: 4px;
    padding-left: 31px;
}

.location3 {
    display: inline-block;
    padding-top: 6px;
    padding-left: 29px;
}

.location4 {
    display: inline-block;
    padding-top: 5px;
    padding-left: 30px;
}

.left-block-point {
    display: inline-block;
    margin-right: 5px;
    vertical-align: -1px;
}

.left-block-location {
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #9EA7B4;
}

.left-date1 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 54px;
}

.left-block-date1 {
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #9EA7B4;
    margin-left: 4px;
    letter-spacing: 0.007em;
}

.left-date2 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 46px;
}

.left-block-date2 {
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #9EA7B4;
    margin-left: 14px;
    letter-spacing: 0.007em;
}

.left-date3 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 54px;
}

.left-block-date3 {
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #9EA7B4;
    margin-left: 4px;
    letter-spacing: 0.007em;
}

.left-date4 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 75px;
}

.left-block-date4 {
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #9EA7B4;
    margin-left: 4px;
    letter-spacing: 0.007em;
}

.left-block-reverse {
    vertical-align: -1px;
}

.left-block-link {
    position: relative;
    text-align: center;
}

.left-link {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    width: 217px;
    height: 38px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
    border-radius: 3px;
    padding-top: 9px;
}

.link-blue {
    background-color: #16C4EC;
    right: 23px;
    bottom: 4px;
}

.link-gray {
    background-color: #B0BBCA;
    right: 23px;
    bottom: 6px;
}

.timeline {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 1160px;
    margin-left: 27px;
}

.vertical-line {
    width: 6px;
    height: 100%;
    margin-left: 7px;
    background-color: #DBE1E8;
    border-radius: 2px 2px 0 0;
}

.circle-white {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.circle-gray {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #DBE1E8;
}

.circle1 {
    top: 161px;
}

.circle2 {
    top: 262px;
}

.circle3 {
    top: 466px;
}

.circle4 {
    top: 524px;
}

.circle5 {
    top: 665px;
}

.circle6 {
    top: 802px;
}

.circle7 {
    top: 883px;
}

.circle8 {
    top: 1000px;
}

.circle9 {
    top: 1044px;
}

.timeline-date {
    box-sizing: border-box;
    position: absolute;
    width: 72px;
    height: 34px;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    padding-top: 2px;
    background-color: #DBE1E8;
    top: 1140px;
    left: -26px;
    border-radius: 3px;
}

.right-blocks {
    box-sizing: border-box;
    display: inline-block;
    width: 626px;
    vertical-align: top;
    margin-top: -16px;
    margin-left: 34px;
    /*background-color: burlywood; /**/
    height: 1160px; /**/
}

.right-block {
    box-sizing: border-box;
    background-color: #DBE1E8;
    border-radius: 4px;
} 

.right-block1 {
    position: relative;
    height: 170px;
    margin-bottom: 32px;
}

.right-block2 {
    height: 170px;
    margin-bottom: 34px;
}

.right-block3 {
    height: 127px;
    margin-bottom: 32px;
}

.right-block4 {
    height: 130px;
    margin-bottom: 34px;
}

.right-title {
    padding-top: 28px;
    padding-left: 24px;
    margin-bottom: -16px;
}

.right-title1 {
    font-size: 23px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
    letter-spacing: -0.02em;
}

.right-title2 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #7A8698;
    letter-spacing: 0.01em;
}

.right-profession {
    padding-left: 23px;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
    color: #00B9D8;
}

.dotted-line {
    border-width: 0 0 3px; 
    border-style: solid;
    width: 627px;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="3"><circle fill="rgb(194, 202, 212)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
    margin-bottom: 33px;
}

.right-block-link {
    position: relative;
    text-align: center;
}

.right-link {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    width: 217px;
    height: 38px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
    border-radius: 3px;
    padding-top: 9px;
}

.right-bottom1 {
    height: 70px;
}

.right-location1 {
    display: inline-block;
    padding-top: 5px;
    padding-left: 25px;
}

.right-block-point1 {
    display: inline-block;
    margin-right: 4px;
    vertical-align: -2px;
}

.right-block-location1 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
    padding-top: 3px;
}

.right-date1 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 64px;
}

.right-block-reverse1 {
    vertical-align: -2px;
}

.right-block-date1 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
    margin-left: 4px;
}

.link-green1 {
    background-color: #10CDC1;
    right: 25px;
    bottom: 1px;
    letter-spacing: 0.01em;
}

.right-bottom2 {
    height: 70px;
}

.right-location2 {
    display: inline-block;
    padding-top: 8px;
    padding-left: 25px;
}

.right-block-point2 {
    display: inline-block;
    margin-right: 5px;
    vertical-align: -1px;
}

.right-block-location2 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
    padding-top: 3px;
}

.right-date2 {
    display: inline-block;
    padding-top: 3px;
    padding-left: 64px;
}

.right-block-reverse2 {
    vertical-align: -1px;
}

.right-block-date2 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
    margin-left: 3px;
}

.link-green2 {
    background-color: #10CDC1;
    right: 25px;
    bottom: 3px;
    letter-spacing: 0.01em;
}

.right-bottom3 {
    height: 44px;
    margin-top: -16px;
}

.right-location3 {
    display: inline-block;
    padding-left: 25px;
    margin-top: 1px;
}

.right-block-point3 {
    display: inline-block;
    margin-right: 4px;
    vertical-align: -1px;
}

.right-block-location3 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
}

.right-date3 {
    display: inline-block;
    padding-left: 66px;
}

.right-block-reverse3 {
    vertical-align: -1px;
    margin-right: 3px;
}

.right-block-date3 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
}

.right-bottom4 {
    height: 44px;
    margin-top: -16px;
}

.right-location4 {
    display: inline-block;
    padding-left: 25px;
}

.right-block-point4 {
    display: inline-block;
    margin-right: 4px;
    vertical-align: -1px;
}

.right-block-location4 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
}

.right-date4 {
    display: inline-block;
    padding-left: 46px;
}

.right-block-reverse4 {
    vertical-align: -1px;
    margin-right: 3px;
}

.right-block-date4 {
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
}

.rating1 {
    position: relative;
    width: 321px;
    height: 34px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
}

.rating2 {
    position: relative;
    width: 321px;
    height: 34px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1px;
}

.star1 {
    position: absolute;
    right: 98px;
    bottom: 12px;
}

.star2 {
    position: absolute;
    right: 79px;
    bottom: 12px;
}

.star3 {
    position: absolute;
    right: 59px;
    bottom: 12px;
}

.star4 {
    position: absolute;
    right: 39px;
    bottom: 12px;
}

.star5 {
    position: absolute;
    right: 18px;
    bottom: 12px;
}

.hobby {
    box-sizing: border-box;
    background-color: #FFFFFF;
    height: 401px;
    width: 626px;
    display: inline-block;
    padding-top: 16px;
}

.hobby-types {
    display: inline-block;
}

.hobby-text {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #3C5166;
    display: block;
    margin-top: 5px;
    text-align: center;
}

.webaddict {
    display: inline-block;
    margin-left: 19px;
    vertical-align: top;
    text-align: center;
}

.serivore {
    display: inline-block;
    margin-left: 21px;
    text-align: center;
}

.melomane {
    display: inline-block;
    margin-left: 22px;
    text-align: center;
}

.fashionista {
    display: inline-block;
    margin-left: 18px;
    text-align: center;
}

.epicurienne {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}

.voyageuse {
    display: inline-block;
    margin-left: 17px;
    text-align: center;
}

.progress-left {
    float: left;
    width: 313px;
    height: 243px;
    padding-top: 25px;
    box-sizing: border-box;
}

.progress-right {
    float: right;
    width: 313px;
    height: 243px;
    padding-top: 25px;
    box-sizing: border-box;
}

.progress1 {
    height: 54px;
    box-sizing: border-box;
    position: relative;
}

.progress2 {
    height: 54px;
    box-sizing: border-box;
    position: relative;
}

.progress3 {
    height: 57px;
    box-sizing: border-box;
    position: relative;
}

.progress4 {
    height: 54px;
    box-sizing: border-box;
    position: relative;
}

.left-progress {
    height: 15px;
    width: 270px;
    position: absolute;
    bottom: 0px;
    
    border-radius: 7px;
    left: 20px;
}

.left-progress::-webkit-progress-bar {
    background-color: #DBE1E8;
    border-radius: 7px;
}

.left-progress::-webkit-progress-value {
    background-color: #10CDC1;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.left-progress::-moz-progress-bar {
    background-color: #DBE1E8;
    border-radius: 7px;
}

.right-progress {
    padding-left: 9px;
    height: 15px;
    width: 278px;
    position: absolute;
    bottom: 0px;
    border-radius: 7px;
    left: 20px;
}

.right-progress::-webkit-progress-bar {
    background-color: #DBE1E8;
    border-radius: 7px;
}

.right-progress::-webkit-progress-value {
    background-color: #16C4EC;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.right-progress::-moz-progress-bar {
    background-color: #DBE1E8;
    border-radius: 7px;
}

.left-progress-text {
    position: absolute;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #34495E;
    bottom: 19px;
    left: 22px;
    letter-spacing: 0.045em;
}

.right-progress-text {
    position: absolute;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #34495E;
    bottom: 19px;
    left: 29px;
    letter-spacing: 0.045em;
}

.percent {
    background-color: #34495E;
    position: absolute;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    width: 38px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    line-height: 17px;
}

.percent::before {
    content: '';
    left: 15px; 
    top: 16px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #34495E transparent transparent transparent;
    position: absolute;
}

.left-percent1 {
    bottom: 21px;
    right: 58px;
}

.left-percent2 {
    bottom: 21px;
    right: 131px;
}

.left-percent3 {
    bottom: 21px;
    right: 24px;
}

.left-percent4 {
    bottom: 21px;
    right: 48px;
}

.right-percent1 {
    bottom: 21px;
    right: 77px;
}

.right-percent2 {
    bottom: 21px;
    right: 59px;
}

.right-percent3 {
    bottom: 21px;
    right: 110px;
}

.right-percent4 {
    bottom: 21px;
    right: 77px;
}

/*--------------------MAIN--------------------*/
/*--------------------------------------------*/



/*--------------------------------------------*/
/*-------------------FOOTER-------------------*/

.footer {
    width: 100%;
    height: 128px;
    text-align: center;
    position: relative;
}

.footer-text {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #34495E;
    transform:skew(-7deg);
    letter-spacing: 0.017em;
    line-height: 93px;
}

.quotes1 {
    font-size: 120px;
    color: #CED4DD;
    position: absolute;
    bottom: -17px;
    left: 373px;
    font-family: Georgia,Times,Times New Roman,serif; 
}

.quotes2 {
    font-size: 120px;
    color: #CED4DD;
    position: absolute;
    bottom: 57px;
    right: 373px;
    font-family: Georgia,Times,Times New Roman,serif; 
}

/*-------------------FOOTER-------------------*/
/*--------------------------------------------*/