body {
    width: 1511px;
    height: 1716px;
    padding: 82px 80px 82px 80px;
    margin: 0;
    background-color: #EAEDF1;
}

.header {
    width: 100%;
    /*background-color: lightblue;*/
}

.profile {
    width: 435px;
    height: 296px;
    background-color: #33495F;
    box-sizing: border-box;
}

.main {
    box-sizing: border-box;
    padding-top: 34px;
    padding-left: 26px;
    padding-right: 20px;
    height: 216px;
    background-color: #FFFFFF;
}

.mainphoto {
    float: left;
}

.mainphoto img {
    width: 149px;
    height: 150px;
}

.name {
    float: right;
    text-align: left;
    width: 200px;
    height: 150px;
    padding-top: 48px;
    line-height: 28px;
    vertical-align: middle;
}

.name1 {
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
    color: #33495F;
}

.name2 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #586879;
}

.signs {
    display: inline-block;
    height: 80px;
    box-sizing: border-box;
}

.sign {
    margin-top: -16px;
    height: 80px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    vertical-align: top;
    box-sizing: border-box;
}

.sign img {
    margin-top: 16px;
}

.sign p {
    margin-top: 0;
}

.eye {
    background-color: #16C4EC;
    width: 109px;
}

.flag {
    background-color: #FA5351;
    width: 109px;
    margin-left: -4px;
}

.car {
    background-color: #10CDC1;
    width: 108px;
    margin-left: -4px;
}

.smoke {
    background-color: #33495F;
    width: 109px;
    margin-left: -4px;
}